<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/596beb7a-eb72-47ec-8abc-b5d91f2c4ff6/resourcegroups/BaseDeDatos/providers/Microsoft.ContainerRegistry/registries/OurTravelCitiesAPI20220610064217</ContainerResourceId>
    <ContainerResourceName>OurTravelCitiesAPI20220610064217</ContainerResourceName>
    <Subscription>Azure para estudiantes</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>ourtravelcitiesapi20220610064217.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://ourtravelcitiesapi20220610063941.scm.azurewebsites.net/</SCMUrl>
    <ResourceId>/subscriptions/596beb7a-eb72-47ec-8abc-b5d91f2c4ff6/resourcegroups/BaseDeDatos/providers/Microsoft.Web/sites/OurTravelCitiesAPI20220610063941</ResourceId>
    <ResourceGroup>BaseDeDatos</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ourtravelcitiesapi20220610063941.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6a2c9f7c-3084-4acf-bac9-b51c38b7fb97</ProjectGuid>
  </PropertyGroup>
</Project>